<template>

  <form @submit.prevent="submitForm">

    <label for="nombre">Nombre:</label>
    <br>
    <div class="input-wrapper mb-4">
      <input
        name="nombre" 
        type="text"
        v-model="v$.user.nombre.$model"
      />
      <span
        class="valid" 
        v-if="v$.user.nombre.$dirty && !v$.user.nombre.$error"
      >✅️</span>
      <small
        class="d-block error"
      >{{ v$.user.nombre.$errors[0]?.$message }}</small>
    </div>

    <br>

    <label for="apellido">Apellido:</label>
    <br>
    <div class="input-wrapper mb-4">
      <input
        name="apellido" 
        type="text"
        v-model="v$.user.apellido.$model" 
      />
      <span
        class="valid" 
        v-if="v$.user.apellido.$dirty && !v$.user.apellido.$error"
      >✅️</span>
      <small
        class="d-block error"
      >{{ v$.user.apellido.$errors[0]?.$message }}</small>
    </div>

    <br>

    <label for="edad">Edad:</label>
    <br>
    <div class="input-wrapper mb-4">
      <input
        name="edad" 
        type="text"
        v-model="v$.user.edad.$model" 
      />
      <span
        class="valid" 
        v-if="v$.user.edad.$dirty && !v$.user.edad.$error"
      >✅️</span>
      <small
        class="d-block error"
      >{{ v$.user.edad.$errors[0]?.$message }}</small>
    </div>

    <br>

    <label for="email">E-mail:</label>
    <br>
    <div class="input-wrapper mb-4">
      <input
        name="email" 
        type="text"
        v-model="v$.user.email.$model" 
      />
      <span
        class="valid" 
        v-if="v$.user.email.$dirty && !v$.user.email.$error"
      >✅️</span>
      <small
        class="d-block error"
      >{{ v$.user.email.$errors[0]?.$message }}</small>
    </div>

    <br>

    <button class="btn btn-primary mt-2" type="submit">Enviar</button>

  </form>

</template>


<style>

  .error {
    color: red;
  }
  
  .input-wrapper {
    display: inline-block;
    position: relative;
  }
  
  .valid {
    position: absolute;
    top: 4px;
    right: 5px;
  }
  
  </style>